@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
label {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

:root {
  --level-one: translateZ(3rem);
  --level-two: translateZ(6rem);
}

* {
  scroll-behavior: smooth;
}

.icon {
  transition: transform 1s;
}

.nav_icon {
  transform: rotate(0deg);
}

.nav_icon_ch {
  transform: rotate(0.5turn);
}

.flip-card {
  position: relative;
  transition: transform 2s;
  transform-style: preserve-3d;
}

.card_front {
  transform: var(--level-one);
}

.card_back_text {
  transform: var(--level-one);
}

.card_back_btn {
  transform: var(--level-one);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover {
  transform: rotateY(0.5turn);
}

.come-in {
  transform: translateY(-50px);
  animation: come-in 3s ease forwards;
}

@keyframes come-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes bounceLeft {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
  60% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
  }
}
@-webkit-keyframes bounceLeft {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
  60% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
  }
}

@-moz-keyframes bounceLeft {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(30px);
  }
  60% {
    transform: translateX(15px);
  }
}
@keyframes bounceLeft {
  0%,
  20%,
  50%,
  80%,
  100% {
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }
  60% {
    -ms-transform: translateX(15px);
    transform: translateX(15px);
  }
}

.arrow {
  -webkit-animation: bounceLeft 3s infinite;
  animation: bounceLeft 3s infinite;
}

.progress {
  animation: progressBar 3s ease-in-out;
  animation-fill-mode: both;
}

@keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.sidebar_on {
  -webkit-animation: slide-on 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-on 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.sidebar_off {
  -webkit-animation: slide-off 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-off 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-on {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-on {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes slide-off {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
  }
}

@keyframes slide-off {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
  }
}
